.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  padding-top: 0;
  padding-bottom: 0;
}

.headerAvatar {
  all: unset;
  cursor: pointer;
}

.navLink {
  color: var(--accent-a11);
}
